.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 70px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mapWrapper {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}

