.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1rem;
  height: calc(100vh - 71px);
  margin-top: 71px;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.container {
  width: 100%;
  max-width: 800px;
}

