// Styles for the Fireworks component background
.fireworksBackground {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fireworksCanvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
